@import '~bootstrap/scss/bootstrap.scss'; 
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

$main-font: 'Amatic SC', cursive;

@mixin display-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin display-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes pop {
  0% {
    transform: translateX(100rem);
  }
  70% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@media (min-width: 320px) and (max-width: 376px) {

  .App {
    max-width: 375px;
  }

  .go-to-pricing-wrapper {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    @include display-column;
    bottom: 16px;

    p {
      font-family: 'Pattaya' ;
      font-size: 15px;
    }

    .go-to-pricing {
      border: 2px solid black;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      height: 40px;
      width: 40px;
      @include display-column;
      overflow: hidden;
      span {
        animation: arrow 2s ease infinite;
      }
    }
  }

   /* HEADER */
    .header {
      text-align: center;
      background: rgba(39, 39, 39, 0.8);
      height: 70px;
      h1 {
        font-size: 30px;
        padding-top: 15px;
        color: rgb(238, 238, 238);
        font-family: 'Oswald', sans-serif;
      }
    } 

    /* INTRO SECTION */

  .intro {
    position: relative;
    max-height: 200vh;
    max-width: 667px;
    background: url('./img/background-copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    @include display-column;

    /* NAV*/

    .nav-bar {
      z-index: 1;
      background: rgba(231, 212, 231, 0.7);
      box-shadow: 0 0 50px 5px rgb(85, 85, 85);
      max-height: 100px;
      width: 375px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;
      .icon-wrapper {
        max-width: 100%;
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        // justify-content: space-evenly;
        align-items: center;
        flex: 1;
        p {
          padding-top: 2px;
          font-size: 0.8rem;
          // color: #333333;
          color: rgb(0, 0, 0);
          text-shadow: 0 0 3px rgb(41, 41, 41);
        }
        .icon {
          @include display-column;
          color: white;
          max-height: 60px;
          max-width: 60px;
          border: 2px solid #424242;
          border-radius: 50%;
          overflow: hidden;
          img {
            height: 135%;
            width: 135%;
          }
        }
      }
    }

    .bloom-logo {
      margin-top: 125px;
      transition: all 0.3s ease;
      height: 130px;
      max-width: 350px;
      img {
        width: 350px;
      }
    }
    .if-you-container {
      position: relative;
      margin-top: 150px;
      margin-bottom: 150px;
      max-width: 375px;
      p { // Если ты надпись
        position: absolute;
        top: -110px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        z-index: 1;
        font-size: 40px;
      }
      .types-section {
        text-align: center;
        height: 200px;
        max-width: 100%;
        @include display-column;
        .type {
          font-family: $main-font;
          margin: 4px;
          border-radius: 10px;
          font-size: 20px;
          color: black;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          background: rgba(255, 255, 255, 0.7) ;
          @include display-column;
          max-height: auto;
          width: 100%;
        }
        .type:before {
          content: '\257C';
        }
      }
    }

    .its-for-you-text {
      position: relative;
      height: 250px;
      margin-bottom: 30px;
      span { // Тогда мой курс для тебя
        position: absolute;
        text-align: center;
        top: 20px;
        left: 65px;
        font-size: 40px;
        width: 50%;
        font-family: $main-font;
        -webkit-text-stroke: 0.5px rgb(3, 3, 3);
        text-shadow: 0 0 10px white;
        color: rgb(24, 24, 24);
        line-height: 100%;
        z-index: 1;
      }
      .emoji-frame {
        height: 290px;
        }
      }
      .change-life-button, .test-button {
        width: 330px;
        height: 50px;
        background: rgb(125,77,91);
        box-shadow: 0 0 20px 10px rgb(216, 106, 136); 
        color: #cccccc;
        border-radius: 20px;
        font-family: 'Amatic SC', cursive;
        font-size: 23px;
      }
      p {
        @include display-column;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: 'Amatic SC', cursive;
        width: 100%;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-shadow: 0 0 10px rgb(248, 248, 248); 
      }
      .or-text {
      }
  }


  /* BENEFITS SECTION*/

  .benefits {
    height: auto;
    max-width: 375px;
    background: url('./img/background-benefits.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .benefits-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 500px;
      width: 100%;
      margin-left: 5px;
      .benefit {
        font-family: $main-font;
        margin: 4px;
        padding: 5px;
        border-radius: 10px;
        font-size: 19px;
        color: black;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        background: rgba(255, 255, 255, 0.7) ;
        // @include display-column;
        max-height: auto;
        width: 95%;
      }
      .benefit:before {
        content: '\257C';
      }
    }
  }

  /* REVIEWS SECTION */

  // REVIEW CARD 
  .review-card-wrapper {
    position: relative;
    overflow: visible;
    top: 30%;
    height: 400px;
    min-width: 100%;
    .mask {
      overflow: hidden;
      height: 400px;
      ul {
        margin: 0;
        padding: 0;
        position: relative;
        li {
          height: 400px;
          width: auto;
          position: absolute;
          left: -325px;
          list-style: none;
          
        }
      }
      .review-card {
        margin-right: 100px;
        top: 5%;
        height: 400px;
        max-width: 70%;
        border-radius: 15px;
        box-shadow: 2px 10px 20px 3px rgb(133, 133, 133);
        border: 1px solid rgb(65, 65, 65);
        background: rgba(204, 204, 204, 0.8);
        @include display-column;
        img {
          height: 100%;
          width: 100%;
          border-radius: 15px;
        }
      }
    }
  }

  .card1 {
    animation: cycletwo 10s linear infinite;
  }

  .card0 {
    animation: cycle 10s linear infinite;
  }


 // The rest of the review section

  .reviews-section {
    position: relative;
    height: auto;
    background: url('./img/back-garden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1 {
      font-size: 30px;
      padding-top: 15px;
      color: rgb(238, 238, 238);
      font-family: 'Oswald', sans-serif;
    }
    .reviews-header {
      text-align: center;
      background: rgba(39, 39, 39, 0.9);
      // background: linear-gradient(360deg, #212121 0%, #1B1B1B 100%) no-repeat 50% 50% / 100% 100%;
      height: 70px;
    }
    .reviews-list {
      margin-top: 100px;
      padding-bottom: 100px;
      @include display-row;
    }
  }

  /* PROGRAM PLAN */

  .program-plan-section {
    position: relative;
    max-width: 375px;
    height: auto;
    background: url('./img/back-program.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 45px;
    .lessons-list {
      margin-right: auto;
      margin-left: auto;
      margin-top: 45px;
      @include display-column;
      max-width: 340px;
      text-align: center;
      border: 1px solid black;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      overflow: hidden;
      h2 {
        padding: 5px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 15px black;
        font-family: $main-font;
        font-size: 25px;
        width: 100%;
        background: rgba(34, 34, 34, 0.5);
      }
      span {
        font-family: $main-font;
        padding: 5px;
        font-size: 30px;
        text-shadow: 0 0 15px rgb(255, 255, 255);
        max-width: 80%;
        
      }
    }

  }

  /* PRICES SECTION */

  // Price card
  .prices-wrapper {
    max-width: 375px;
    @include display-column;
  }
  .price-card {
    position: relative;
    padding-top: 50px;
    @include display-column;
    width: 100%;
    button {
      font-family: 'Oswald', sans-serif;
      position: absolute;
      bottom: 80px;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      background: rgba(128, 0, 128, 0.5);
      // color: rgb(216, 216, 216);
      color: rgb(53, 53, 53);
      border-radius: 20px;
      height: 40px;
      width: 150px;
    }
    img {
      margin-left: 3px;
      height: 600px;
      width: 370px;
    }
  }

  .cardthree img {
    margin-left: 5px;
    height: 800px;
    width: 370px;
  }
  
  .cardfour {
    img {
      margin-left: 5px;
      height: 1050px;
      width: 340px;
    }
    button {
      position: absolute;
      bottom: 150px;
      background: rgba(157,193,193, 0.8);
      color: rgb(0, 0, 0);
      width: 250px;
      left: 0;
      right:0;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .prices-section {
    height: auto;
    // background: url('./img/back-prices.jpg');
    background: url('./img/back-price-try.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 700px 1200px;
    // background-size: cover;
    background-attachment: fixed;
    .prices-header {
      height: 70px;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      color: white;
      h1 {
        font-size: 30px;
        padding-top: 15px;
        font-family: 'Oswald', sans-serif;
      }
    }
  }

}

/* ANIMATIONS */

@keyframes cycletwo {
  0%  { left: -325px; opacity: 0; } /* Original Position */
  16% { left: -325px; opacity: 0; }/* Starts moving after 16% to this position */
  20% { left: 0; right: 0; margin-right: auto; margin-left: auto; opacity: 1; }
  24% { left: 0; right: 0; margin-right: auto; margin-left: auto; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
  36% { left: 0; right: 0; margin-right: auto; margin-left: auto; opacity: 1; } /* From 24% to 36 % = for 3 seconds the image is visible */
  40% { left: 350px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
  41% { left: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
  100%{ left: -325px; opacity: 0; z-index: -1; }
}

@keyframes cycle {
  0%  { left: 0; right: 0; margin-right: auto; margin-left: auto; opacity: 1; } /* When you start the slide, the first image is already visible */
  4%  { left: 0; right: 0; margin-right: auto; margin-left: auto; opacity: 1; }/* Original Position */
  16% { left: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
  20% { left: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
  21% { left: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
  92% { left: -325px; opacity: 0; z-index: 0; }
  96% { left: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
  100%{ left: 0; right: 0; margin-right: auto; margin-left: auto; opacity: 1; }
}

@keyframes arrow {
  0%{
    transform: translateY(-4rem);
  }
  100%{
    transform: translateY(2rem);
  }
}